html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background: url('/img/background.jpeg') no-repeat center center fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
    
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(5px); 

    z-index: -1; 
}


.address-cont{
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    margin-bottom: 20px;
}
input {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
button{
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border-color: #f0f0f0;
    border-radius: 5px;
    border:solid;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
   
}