<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/address-reg.css">
    <title>Document</title>
</head>
<body>
    <div class="address-cont" id="address">
        <h1>Address</h1>
        <form id="registrationForm" th:action="@{/add-address}" th:object="${address}" method="post">
  
        
        <input type="text" placeholder="Street name" id="street" th:field="*{street}" />
        <div th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Street Error</div>

        <input type="number" placeholder="Number" id="number" th:field="*{number}" />
        <div th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Number Error</div>

        <input type="number" placeholder="Postal code" id="postalCode" th:field="*{postalCode}" />
        <div th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">Postal Code Error</div>

        <input type="text" placeholder="City" id="city" th:field="*{city}" />
        <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</div>

        <input type="text" placeholder="State" id="state" th:field="*{state}" />
        <div th:if="${#fields.hasErrors('state')}" th:errors="*{state}">State Error</div>

        <input type="text" placeholder="Country" id="country" th:field="*{country}" />
        <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Country Error</div>

        <button type="button" id="backBtn">Omite</button>
        
        <button type="submit">Add address</button>

    
</form>
</div>


</body>
</html>