<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

    <div class="register-cont" id="registerCont">
        <h1>Register</h1>
        <form id="user" th:action="@{/register}" th:object="${user}" method="post">
            <div id="userFields">
                <!-- User Details -->
                <input type="hidden" id="id" name="id" th:value="${id}" />

                <input type="text" id="username" th:field="*{username}" placeholder="Username"/>
                <div class="alert-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</div>

                <input type="text" id="firstname" th:field="*{firstname}" placeholder="First Name"/>
                <div class="alert-error" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">lastname Error</div>
                
                <input type="text" id="lastname" th:field="*{lastname}" placeholder="Last Name"/>
                <div class="alert-error" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">lastname Error</div>

                <input type="email" id="email" th:field="*{email}" placeholder="Email"/>
                <div class="alert-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>

                <input type="number" id="age" th:field="*{age}" placeholder="Age"/>
                <div class="alert-error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age Error</div>

                <input type="password" id="password" th:field="*{password}" placeholder="Password"/>
                <div class="alert-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>

                <input type="password" id="confirmPassword" th:field="*{confirmPassword}" placeholder="Confirm Password"/>
                <div class="alert-error" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">confirmPassword Error</div>

                <button type="button" onclick="location.href='/'">Back to login</button>
                <button type="submit" id="regUser" onclick="location.href='/add-address'">Create account</button>
                <div class="alert alert-error" th:if="${formErrorMessage}" th:text="${formErrorMessage}"> Error message</div>
            </div>
        </form>
        </div>
</body>

            